@media print {
    
    img {
        display: none;
    }
    
    h1, h2, h3, p, span, .link {
        color: black !important;
    }
    
    body, #gradient, .price, .nuncan {
        background: white;
    }
    
    #wrapper {
        box-shadow: none;
        border: none;
    }
}