/*Aksel Jänes*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background: rgb(227, 233, 246); 
	background: -moz-linear-gradient(top,  rgb(227, 233, 246) 0%, rgb(231, 236, 247) 14%, rgb(255, 255, 255) 64%, rgb(255, 255, 255) 100%) no-repeat; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(227, 233, 246)), color-stop(14%,rgb(231, 236, 247)), color-stop(64%,rgb(255, 255, 255)), color-stop(100%,rgb(255, 255, 255))) no-repeat; 
	background: -webkit-linear-gradient(top,  rgb(227, 233, 246) 0%,rgb(231, 236, 247) 14%,rgb(255, 255, 255) 64%,rgb(255, 255, 255) 100%) no-repeat; 
	background: -o-linear-gradient(top,  rgb(227, 233, 246) 0%,rgb(231, 236, 247) 14%,rgb(255, 255, 255) 64%,rgb(255, 255, 255) 100%) no-repeat; 
	background: -ms-linear-gradient(top,  rgb(227, 233, 246) 0%,rgb(231, 236, 247) 14%,rgb(255, 255, 255) 64%,rgb(255, 255, 255) 100%) no-repeat; 
	background: linear-gradient(to bottom,  rgb(227, 233, 246) 0%,rgb(231, 236, 247) 14%,rgb(255, 255, 255) 64%,rgb(255, 255, 255) 100%) no-repeat; 
	width: 100%;
    font: Arial, sans-serif;
}

h1 {
	font: 400 55px Tahoma, sans-serif; 
	color: rgb(1,124,175);
	text-shadow: 2px 2px 3px rgb(200,200,200);
	letter-spacing: -1.2px;
    display: inline-block;
}

h2 {
	color: rgb(137,190,4);
	font-size: 32px; 
	font-weight: 400;
	position: relative;
	width: 400px;
	line-height: 40px;
}

h2 span {
	color: rgb(1,134,182);
}

h3 {
	color: rgb(137,190,4);
	font-size: 16px;
    font-weight: 400;
}

h4 {
    color: rgb(255,255,255);
}

a:visited {
    text-decoration: none;
    color: rgb(83,149,208);
}

#wrapper {
	width: 810px;
	margin: 30px auto;
	border-radius: 15px 0 15px 15px;
	padding-left: 38px;
	padding-bottom: 40px;
	box-shadow: 2px 0 20px rgb(200,200,200);
    background: rgb(255,255,255) url(02.png) 100% 20% no-repeat;
}

#wrapper h1 {
	margin-top: 18px
}

/* Tootetutvustus */

#product-desc {
	width: 40%;
	float: left;
    z-index: 10;
}

#product-desc p {
	color: rgb(153,153,153);
	display: block;
	margin-top: 15px;
	font-size: 14px;
    line-height: 17px;
}

#product-desc a {
    display: inline-block;
    margin-top: 0;
    letter-spacing: 1px;
}

#product-desc h2 {
	margin-top: 13px;
	margin-right: 5px;
	letter-spacing: -0.2px;
	word-spacing: -5px;
}

.description {
	width: 280px;
	word-spacing: -1px;
	margin-top: 3px;
    margin-bottom: 86px;
}

#product-display{
	display: inline-block;
    position: relative;
	width: 60%;
	min-height: 370px;
}

#product-display a {
    background: url(07.png) 60% / 11px no-repeat;
    margin-top: 10px;
}

#product-display .spantext {
    top: -2px; 
    word-spacing: -2px;
}

#product-display img {
	top: 22px;
	left: -31px; 
	position: relative;
}

.product-img {
    text-align: center;
}

/* Lingid */

a {
	color: rgb(83,149,208);
	font-size: 12px;
    margin-top: 9px; 
    text-decoration: none;
}

a:hover, 
a:focus {
    color: rgb(4, 67, 154);
}

a:after {
    content: "»";
}

.nuncan-button a:after {
    content: none;
}

.price a:after {
    content: none;
}

/* Tooterea info */

.subheader {
	color: rgb(1,134,182);
	font-size: 16px;
    margin-bottom: 6px;
}

.product {
	display: inline-block;
	width: 30%;
	margin: 14px 13px;
	height: 347px;
	vertical-align: top;
	position: relative;
}

.product-info {
	position: absolute;
	font-size: 13px;
    bottom: 8px;
}

.pricing {
    margin-top: 13px;
}

.pricing span {
    text-decoration: line-through;
    display: block;
}

/* Laptopi peal olev infobox */

.price {
    padding: 3px 4px;
	position: absolute;
	left: 278px;
	top: 100px;
    border-radius: 5px 0 15px 15px;
    background: rgb(79,148,225);
	background: -moz-linear-gradient(top, rgba(79,148,225,1) 0%, rgba(79,148,225,1) 63%, rgba(1,76,187,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,148,225,1)), color-stop(63%,rgba(79,148,225,1)), color-stop(100%,rgba(1,76,187,1))); 
	background: -webkit-linear-gradient(top, rgba(79,148,225,1) 0%,rgba(79,148,225,1) 63%,rgba(1,76,187,1) 100%); 
	background: -o-linear-gradient(top, rgba(79,148,225,1) 0%,rgba(79,148,225,1) 63%,rgba(1,76,187,1) 100%);
	background: -ms-linear-gradient(top, rgba(79,148,225,1) 0%,rgba(79,148,225,1) 63%,rgba(1,76,187,1) 100%);
	background: linear-gradient(to bottom, rgba(79,148,225,1) 0%,rgba(79,148,225,1) 63%,rgba(1,76,187,1) 100%); 
	box-shadow: 0 0 0 4px rgba(51, 51, 51, 0.37);
}

.price p {
	width: 106px;
	margin-left: 7px;
	color: rgb(255,255,255);
}

.price h4 strong {
	font-size: 36px;
	color: rgb(255,255,255);
    font-weight: 400;
}

.price .spantext p {
	font-size: 10px;
    line-height: 14px;
}

.price .arrow {
	width: 12px !important;
	position: static!important;
}

.price a {
    font-size: 16px;
    margin-top: 13px;
    color: rgb(255,255,255);
    display: block;
}

.price a:hover,
.price a:focus {
    text-decoration: underline;
}

/* Individuaalsed tooted */

#printer img {
    top: -5px; 
    position: relative; 
    left: 21px;
}

#projector img {
    position: relative; 
    top: -19px; 
    left: -13px;
    margin-top: 22px;
}

#monitor img {
    left: 16px; 
    position: relative;
    top: 2px;
}

#printer {
    margin-left: 0px;
}

#printer .nuncan-button {
    top: 163px;
    left: 101px;
}

#projector .nuncan-button {
    top: 175px; 
    left: 88px;
}

#monitor .nuncan-button{
    top: 136px; 
    left: 133px;
}

/* Nuncani nupp tooterea pildi peal */

.nuncan-button {
	padding: 2px 4px;
	position: absolute;
	background: rgb(69, 106, 207) url(08.png) 90% / 11px no-repeat;
	box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.37);
	color: rgb(255,255,255);
	border-radius: 5px 0 5px 5px;
	font-size: 12px;
    padding-right: 18px;
    font-weight: bold
}

.nuncan-button a {
    margin-top: 0;
    color: rgb(255,255,255);
}

.nuncan-button:hover,
.nuncan-button:focus {
    background-color: rgb(4, 67, 154);
}

.nuncan-button a:hover, 
.nuncan-button a:focus {
    color: rgb(255,255,255);
}

.arrow2 {
	height: 12px;
	position: relative;
	margin-left: -2px;
}

.nuncan-button span {
	line-height: 12px;
}

footer {
	display: inline-block;
	margin-top: -31px;
	margin-left: 3px;
    font-family: Arial, sans-serif; 
}

footer p {
	color: rgb(153,153,153);
	font-size: 12px;
    line-height: 24px;
    word-spacing: 1px;
}

footer a {
	margin-top: 60px;
	display: block;
	font-size: 12px;
}
