/**Aksel Jänes*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	width: 100%;
	background: #e3e9f6; 
	background: linear-gradient(to bottom, #e3e9f6 0%,#e7ecf7 14%,#ffffff 64%,#ffffff 100%) no-repeat; 
    font: Arial, sans-serif;
}

h1 {
	text-shadow: 2px 2px 3px #c8c8c8;
	letter-spacing: -1.2px;
	color: #017caf;
	font: 400 55px Tahoma, sans-serif; 
}

h2 {
    width: 400px;
	line-height: 40px;
	color: #89be04;
	font-weight: 400;
	font-size: 32px; 
}

h2 span {
	color: #0186b6;
}

h3 {
	color: #89be04;
    font-weight: 400;
	font-size: 16px;
}

h4 {
    color: #ffffff;
}

#wrapper {
	width: 810px;
	margin: 30px auto;
	padding-bottom: 40px;
    padding-top: 18px;
    padding-left: 38px;
	border-radius: 15px 0 15px 15px;
    background: #ffffff url(02.png) 100% 20% no-repeat;
    box-shadow: 2px 0 20px #c8c8c8;
}

#wrapper h1 {
	margin-top: 0;
}

/** Product information */

#product-desc {
	float: left;
	width: 40%;
    z-index: 10;
}

#product-desc p {
	margin-top: 15px;
    line-height: 17px;
    color: #999999;
	font-size: 14px;
}

#product-desc a {
    display: inline-block;
    margin-top: 0;
}

#product-desc h2 {
	margin-top: 13px;
	margin-right: 5px;
}

.desc {
	width: 280px;
	margin-top: 3px;
    margin-bottom: 86px;
}

#product-display {
	display: inline-block;
    position: relative;
    width: 60%;
	min-height: 370px;
}

#product-display a {
    margin-top: 10px;
    background: url(07.png) 60% / 11px no-repeat;
}

#product-display img {
	position: relative;
	top: 22px;
	left: -31px; 
}

.product-img {
    text-align: center;
}

/** Links */

a {
    text-decoration: none;
	color: #5395d0;
	font-size: 12px;
}

a:visited {
    text-decoration: none;
    color: #5395d0;
}

a:hover, 
a:focus {
    color: #04439a;
}

a:after {
    content: " »";
}

.nuncan-button a:after {
    content: none;
}

.price a:after {
    content: none;
}

/** Product info */

.subheader {
    margin-bottom: 6px;
	color: #0186b6;
	font-size: 16px;
}

.product {
	display: inline-block;
	position: relative;
    width: 30%;
    height: 347px;
	margin: 14px 13px;
	vertical-align: top;
}

.product-info {
	position: absolute;
    bottom: 8px;
	font-size: 13px;
}

.pricing {
    margin-top: 13px;
}

.pricing span {
    display: block;
    text-decoration: line-through;
}

/** Infobox on top of the Laptop */

.price {
    position: absolute;
	top: 100px;
	left: 278px;
    padding: 3px 4px;
    border-radius: 5px 0 15px 15px;
    background: #4f94e1;
	background: linear-gradient(to bottom, #4f94e1 0%,#4f94e1 63%,#014cbb 100%); 
    box-shadow: 0 0 0 4px rgba(51, 51, 51, 0.37);
}

.price p {
	width: 106px;
	margin-left: 7px;
	color: #ffffff;
}

.price strong {
	color: #ffffff;
    font-weight: 400;
	font-size: 36px;
}

.price p {
    line-height: 15px;
	font-size: 10px;
}

.price .arrow {
    position: static;
	width: 12px;
}

.price a {
    display: block;
    margin-top: 13px;
    color: #ffffff;
    font-size: 16px;
}

.price a:hover,
.price a:focus {
    text-decoration: underline;
}

/** Individual products */

#printer img {
    position: relative; 
    top: -5px; 
    left: 21px;
}

#projector img {
    position: relative; 
    top: -19px; 
    left: -13px;
    margin-top: 22px;
}

#monitor img {
    position: relative;
    top: 2px;
    left: 16px; 
}

#printer {
    margin-left: 0;
}

#printer .nuncan-button {
    top: 163px;
    left: 101px;
}

#projector .nuncan-button {
    top: 175px; 
    left: 88px;
}

#monitor .nuncan-button {
    top: 136px; 
    left: 133px;
}

/** Nuncani button */

.nuncan-button {
	position: absolute;
}

.nuncan-button a {
    margin-top: 0;
    color: #ffffff;
    padding: 2px 4px;
    padding-right: 18px;
    background: #456acf url(08.png) 91% 60%/ 11px no-repeat;
    font-weight: bold;
	font-size: 12px;
    border-radius: 5px 0 5px 5px;
	box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.37);
}

.ie8 .nuncan-button a {
    margin-top: 0;
    background: #456acf;
}

.nuncan-button a:hover,
.nuncan-button a:focus {
    background-color: #04439a;
}

.nuncan-button a:hover, 
.nuncan-button a:focus {
    color: #ffffff;
}

.arrow2 {
	position: relative;
    height: 12px;
	margin-left: -2px;
    
}

.nuncan-button span {
	line-height: 12px;
}

footer {
	margin-top: -31px;
	margin-left: 3px;
}

footer p {
    line-height: 24px;
	color: #999999;
	font-size: 12px;
}

footer a {
	display: block;
	margin-top: 60px;
	font-size: 12px;
}